.tailtaste {
  padding-bottom: 2%;
  text-align: left;
  font-size: 240%;
}

.about {
  color: #fff;
  background-color: #f49090;
  text-align: left;
  padding: 5%;
}

.ingredients {
  font-family: "Montserrat";
  width: 40%;
  color: #fff;
  margin-left: 13px;
}

.nutrition {
  font-family: "Montserrat";
  width: 100%;
  color: #fff;
}

td {
  border: 1px solid;
  padding: 12px;
  text-align: left;
}

th {
  border: 1px solid;
  padding: 12px;
  text-align: center;
}

.about-ingredients {
  text-align: justify;
  padding-right: 20px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

.about-ingredients h5 {
  text-decoration: underline;
  font-size: 1.32rem;
}

/* Media Queries */
 
