.testimonial-img {
  width: 500px !important;
  border-radius: 100%;
  max-height: 500px!important;
  margin: 0 auto;
  display: block;
}


.testimonial-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  color: #1b1a1ac8;
  font-family: "Montserrat";
}
  
.comment {
  font-size: 1.5rem !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1.2rem;
  color: #000;
  font-family: "Montserrat";
}
  
.photo-desc {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 2rem;
  font-family: "Montserrat";
}