.notFoundTitle {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 40px 0 30px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    color: #000;
}

.notFound {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.3rem;   
    color: #000;
}


.homeButton {
    background-color: #f49090;
    color: white !important;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    height: 15% !important;
    margin: 30px auto !important;
    display: block;
    font-size: 1.3rem !important;
}

.homeButton:hover {
    background-color: #f49090c0;
}

.lost {
    border-radius: 20%;
    margin: 0 auto !important;
    display: block;
    margin-bottom: 40px !important;
    width: 40%;
}

@media (max-width: 768px) {
    .notFoundTitle {
        font-size: 2rem;
    }
    .notFound {
        font-size: 1rem;
    }
    .homeButton {
        width: 40%;
        font-size: 1rem !important;
    }
    .lost {
        width: 60%;
    }
}