.maker {
    background-color: #f49090;
    padding: 5%;
    text-align: justify;
    color: #fff;
  }
  
  .maker-title {
    padding-bottom: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }

  .story {
    color: #fff;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 1%;
  }
  
  .vinny-photo {
    max-width: 55%;
    height: auto;
    border-radius: 50%;
    display: block;
    place-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .vinny-info {
    text-align: center;
    margin-left: auto;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: -15px;
  }


  @media (max-width: 768px) {
    .maker-title {
      font-size: 2rem;
    }
    .story {
      font-size: 1rem;
    }
  }

