/* Reset default styles */
body,
html {
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
.nav-link.active {
    color: #fff !important;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.4rem;
    color: #000 !important;
    margin: 30px 20px 0 40px;
    text-align: center;
}

.navbar {
    background-color: #B8E8FC;
    height: auto;
    padding: 0 0 1.6rem;
}


/* Navbar Brand Styles */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: bold;
    color: #f49090; 
    padding-top: 30px;
}

.navbar-brand active {
    color: #fff !important

}

.navbar-brand:hover {
    color: #fff !important;
}


/* logo */
.logo {
    width: 7%;
    height: 7%;
    /* transition: filer 0.3 ease; */
}

/* .logo:hover {
    filter: brightness(1.2);
} */



/* Media Queries */
@media (max-width: 480px) {
    .navbar-brand {
        font-size: 0.9rem !important;
        margin: 0 auto !important;
    }

}


@media (min-width:481px) and (max-width: 1000px) {
    .navbar-brand {
        font-size: 1.3rem !important;
        margin: 0 auto !important;
    }
    .nav-link {
        font-size: 1.3rem !important;
        margin-top: 10px !important;
    }
    .navbar-toggler{
        margin: 10px auto !important;
        }
}

@media (max-width: 1350px) {
    .navbar-brand {
        font-size: 1.7rem;
    }

    .navbar-title {
        font-size: 1.7rem;
    }

    .nav-keys {
        font-size: 1rem;
    }
    .nav-link {
        font-size: 1.5rem;
        margin: 0 -10px 0 40px;
    }
}


@media (max-width: 1150px) {
    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-title,
    .nav-keys {
        padding: 5px;
        font-size: 1rem;
    }

    .navbar-title {
        padding-left: 20px;
    }

    .navbar-brand {
        font-size: 1.7rem;
    }
}
