#root {
    overflow: hidden;
}

/* Main background colour */
body {
    background-color: #B8E8FC !important;
}

/* Title text */


.intro {
    padding: 70px 50px 30px 50px;
    margin-left: 18rem;
    font-size: 3.4rem;
    text-align: center;
    color: #000; 
    font-family: 'Montserrat';
}

.flavours {
    padding: 20px 50px 20px 50px;
    margin-left: 18rem;
    font-size: 1.6rem;
    text-align: center;
    color: #000; 
    font-family: 'Montserrat';
    border-radius: 10px;
}

.enquire, .shop-button {
    font-size: 1.5rem;
    color: #000;
    font-family: "ubuntu";
    padding: 10px 0 10px 0;
    margin-left: 20rem !important;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: 60%;

}
.faicecream {
    font-size: 1.5rem;
}

.intro-image img {
    width: 65%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -15rem;
    
}

/* Intro text */
.explain {
    background-color: #f49090;
    padding: 5% !important;
    position: relative;
    text-align: justify;
    font-family: "Montserrat";
    font-size: 1.4rem;
}

.explain p {
    color: #fff;
}

.explain h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: #fff;
}

.cowphoto {
    position: absolute; top: 3mm;
    right: -0.08%;
    width: auto;
    display: block;
    height: auto;
    overflow: hidden;
}


/* Feature icons */

.heart, .paw, .check {
    color: #f49090;
    margin-bottom: 1rem;
    padding-bottom: 10px;
  }

  .paw:hover {
    color: rgb(135, 67, 3);
  }
  .heart:hover {
    color: red;
  }
  .check:hover {
    color: green;
  }

  .feature-box {
    text-align: center;
    padding: 7%;
  }

.features {
    font-family: "Montserrat";
    font-size: 1.5rem;
    color: #000;
    background-color: #fff;
}


/* Stockists */

.press {
    background-color: #f49090;
    text-align: center;
    padding: 2%;
    padding-top: 50px;
  }

  .press-logo {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10%;
  }

  .press-logoCircle {
    border-radius: 60%;
    height: 200px;
    width: 200px;
    margin: 10px;
  }


/* Contact link */
.contact-link-text {
    text-align: center !important;
    margin: 40px;
    font-size: 2.1rem !important;
    color: #000;
    font-family: "Montserrat";
} 

.contact-link {
    text-align: center !important;
    font-size: 1.3rem;
    color: #000 !important;
    font-family: "Ubuntu";
}

.contact {
    background-color: #fff;
    border-radius: 10px;
    width: 30% !important;
    height: 50px;
    padding-top: 10px;
    margin: 0 auto;
    text-decoration: none;
    margin-bottom: 2.5rem;
}



/* Screen size media queries */

@media (max-width: 2000px) {
    .explain {
        padding: 15px;
    }
}


@media (max-width: 1150px) {
    .intro {
        font-size: 2rem;
    }
    .explain {
        font-size: 1.3rem;
        padding: 20px;
    }
    .features {
        font-size: 1.2rem;
    }
    .mb-3 {
        font-size: 2.5rem;
    }
    .iconTitle {
        font-size: 1.6rem;
    }
}